---
import Layout from '../../layouts/Layout.astro';
import '../../styles/account.scss';
---

<head>
  <title>Account</title>
</head>

<Layout>
  <div class="account">
    <div id="account-root"></div>
    <div id="userDisplayMain"></div>
  </div>
  

  <script type="module">
    const apiUrl = "https://sd-coursework-backend.onrender.com";
  (async () => {
    let userStatResponse;
    try {
      const userStat = await fetch(`${apiUrl}/auth/status`, {
        method: "GET",
        credentials: "include",
      });

      userStatResponse = await userStat.json();

      if (!userStatResponse.logged_in) {
        window.location.href = "/auth/login";
        return;
      }
    } catch (err) {
      console.error("Error fetching auth status:", err);
      window.location.href = "/auth/login";
      return;
    }
    try {
      const userID = userStatResponse.user?.ID;

      const userDets = await fetch(
        `${apiUrl}/api/user/${userID}`,
        {
          method: "GET"
        }
      );

      if (!userDets.ok) {
        console.error("Failed to fetch user details:", userDets.status);
        return;
      }

      const userDetsResponse = await userDets.json();

      const userRoot = document.getElementById("userDisplayMain");

      if (userRoot) {
        userRoot.innerHTML = `
          <div class="userDetails">
            
            <p><strong>Username:</strong> ${userDetsResponse.userName}</p>
            <h4 class="glistening-text">Quote: ${userDetsResponse.quote || ""}</h4>

            <div class="editButtons">
              <a href="/auth/edit-account">
                <button class="editButton">Edit Account</button>
              </a>
              <a href="/auth/change-password">
                <button class="editButton">Change Password</button>
              </a>
              <a href="/auth/deleteAccount">
                <button class="editButton delete">Delete Account</button>
              </a>
            </div>
          </div>
          
          <div class="avatarSection">
            <a id="changeImage">
              <img class="avatar" src="${userDetsResponse.avatarImage}" alt="Avatar" width="100" />
              <span>Change Avatar</span>
            </a>
          </div>
          
        `;
      }
    } catch (err) {
      console.error("Error fetching account info:", err);
    }
  })();
</script>

</Layout>