---
import Layout from "../../layouts/Layout.astro";
import Comments from "../../Components/listing/commentsComponent";
import CommentActions from "../../Components/listing/commentHelpers/commentFunctions";
import '../../styles/mainPage.scss';

const apiRoot = "https://sd-coursework-backend.onrender.com";

interface GameArticle {
  ID: number;
  Title: string;
  Description: string;
  ArticleBody: string;
  CommentsLink: string;
  Categories: string[];
  Consoles: string[];
  ImageURLs: string[];
}
const { projectID } = Astro.params;
const game = await fetch(`${apiRoot}/api/games/${projectID}`).then(r => r.json() as Promise<GameArticle>);
---

<head>
    <title>{game.Title} | Page</title>

</head>

<Layout>
  <div class="articleContent">
    <h1> Title: {game.Title}</h1>

    <p> Description: {game.Description}</p>
    <div>
      <p>
        {game.ArticleBody}
      </p>

      <CommentActions root={null} gameID={game.ID} client:load />

      <Comments gameID={game.ID} client:load />
    </div>
  </div>

</Layout>
